extends layout

block content
	#external
		nav.bp-nav
			a.bp-logo(href="/")
				span.bp-logo-mark BP
				span BitPoints
			.bp-nav-meta
				a.bp-nav-link(href="https://github.com/twisterghost/BitPoints", target="_blank") GitHub
		main#mainContent
			block mainContent
		section#supplementalContent
			block supplementalContent
		footer.bp-footer
			span Made with care for distributed teams.
	script(src='/javascripts/home.js')
